*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body{
    background-color: var(--dark-color);
    color: #fff;
}
::selection{
    background-color: var(--green-color);
    color: #fff;
}
.btn-up{
    height: 30px;
    width: 30px;
    background-color: var(--green-color);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 50%;
    display: none;
    color: #fff;
}

/* start Navbar */
.navbar{
    background-color: #142136;
}
.navbar .navbar-brand{
    font-weight: 600;
    text-shadow: 0 4px 5px;
    color: var(--green-color);
}
.navbar .nav-link{
    color: #fff;
}
.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus{
    color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
    margin-top: 5px;
}
.navbar .search svg{
    color: var(--green-color);
    cursor: pointer;
}
.navbar .navbar-toggler{
    color: #fff;
    font-size: 25px;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded= "true"]{
    color: var(--green-color);
}
/* end Navbar */

/* start landing */
.landing{
    min-height: calc(100vh - 60px);
    flex-direction: column;
    gap: 80px;
}

/* end landing */

/* stert table */
table{
    width: 100%;
    margin-bottom: 100px;
}
table th{
    padding: 20px;
    font-size: 20px;
    border: 2px solid var(--section-color);
}
table td{
    border: 1px solid var(--section-color);
    padding: 10px;
    font-size: 18px;
}
hr{
    margin-bottom: 50px;
}
.mark{
    display: inline-block;
    background-color: var(--yellow-color);
    color: #000;
    border-radius: 10px;
    margin: 5px 0;
}
/* end table */

/* start footer */
footer .contact svg{
    width: 20px;
    height: 20px;
}
footer .facebook{
    background-color: #1877f2;
}
footer .whatsapp{
    background-color: #25d366;
}
.ico-foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end footer */


@media (max-width: 576px){
    .container{
        width: 100%;
        overflow: hidden;
    }
}